.character-detail {
    .ui.segment {
        &.wrapper-grid {
            margin: 15px;
            @media only screen and (min-width: 600px) {
                margin: 40px;
            }
        }
    }
    .container-title-edit {
        display: flex;
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
        .button-edit {
            margin: 0 0 0 20px !important;
        }
        .header {
            margin: 0;
        }
    }
}
